.container_item-right{
    height: 500px;
    flex-basis: 60%;
}
.right_item-main{
    border:1px solid gray;
    height:380px;
    overflow-y: scroll;
    padding: 1%;
    background:linear-gradient(rgb(25, 99, 119),rgb(230, 240, 245)) ;
    color:rgb(30, 30, 66)
}