.bold_font{
    color:black;
    font-weight: bold
}
.row_header{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-block-end: 1px solid gray;
}
.right_item{
    width:100%;
    height: 120px;
    margin-bottom: 20px;
    box-shadow: 2px 2px silver;
    border:2px solid rgb(216, 231, 240);
    border-radius: 10px;
    overflow: hidden;
}
.right_item div{
    padding: 1%;
    color: rgb(12, 99, 214);
}